* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Shadows Into Light", cursive;
  background: linear-gradient(to left, #9796f0, #fbc7d4);
  color: white;
  min-height: 100vh;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  padding-top: 4rem;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
}

form input,
form button {
  border: none;
  background-color: white;
  padding: 0.5rem;
  font-size: 1.2rem;
  outline: none;
}

.todo-button {
  background-color: #44338f;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.todo-button:hover {
  background-color: #e9708e;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  width: 30%;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  margin: 1rem;
  transition: all 0.4s ease-in-out;
}

.todo-item {
  flex: 1;
  padding: 0 0.5rem;
  font-size: 1.4rem;
}

.complete-btn,
.trash-btn {
  font-size: 1.2rem;
  padding: 0.8rem;
  background-color: #44338f;
  color: white;
  cursor: pointer;
  border: none;
}

.complete-btn {
  background-color: #e9708e;
}

.complete-btn:hover {
  background-color: #ff83a2;
}

.trash-btn:hover {
  background-color: #5e47c5;
}

.fa-check,
.fa-trash-alt {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(30deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0.6rem;
  cursor: pointer;
  width: 8rem;
  color: #44338f;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #44338f;
  top: 0;
  right: 0;
  padding: 0.2rem 0.3rem 0.6rem 0.3rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background-color: #e9708e;
}
